<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

</head>

<body>
	<h2>Listagem de Eventos</h2>
	<h3>
		<a href="cadastrar" class="waves-effect waves-light btn">
			<i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a>
	</h3>

	<table class="container">
		<thead>
			<tr>
				<th>Nome </th>
				<th>Local </th>
				<th>Data</th>
				<th>Hora</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="evento:${eventos}">
				<td><span th:text="${evento.descricao}"></span></td>
				<td><span th:text="${evento.local}"></span></td>
				<td><span th:text="${evento.data}"></span></td>
				<td><span th:text="${evento.hora}"></span></td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" src="materialize/js/materialize.min.js">

	</script>


</body>

</html>